/* category style start from here */
.home_3_category_container{
    max-width: 1320px;
    margin: 120px auto auto auto;
}
.home_3_category_card_group{
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home_3_category_card{
    background: linear-gradient(180deg, #1E1E37 0%, rgba(30, 30, 55, 0) 100%);
    border-radius: 8px;
    padding: 24px;
    position: relative;
    cursor: pointer;
}
.home_3_arrow_container svg{
    transition: 0.5s ease;
    width: 19px;
}
.home_3_category_card:hover .home_3_arrow_container svg{
    rotate: 90deg;
    transition: 0.5s ease;
}
.home_3_category_card:hover .home_3_arrow_container{
    background: linear-gradient(180deg, #655CFF 0%, #844BFF 100%);
}
.home_3_category_card_image{
    width: 152px;
    height: 222px;
    border-radius: 8px;
}
.home_3_arrow_container{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 0 0 8px 0;
    background: #1E1E37;
    color: #ffffff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* for max 1545 px to min 1400px */
@media only screen and (min-width: 1400px) and (max-width: 1545px) {
    .home_3_category_container{
        max-width: 1200px;
        margin: 100px auto auto auto;
    }
    .home_3_category-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home_3_category-subtitle-container{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .home_3_category-subtitle-container small{
        font-size: 12px;
        color: #635EFF;
    }
    .category-vl{
        width: 12px;
        height: 1px;
        background: #635EFF;
    }
    .home_3_category-title{
        margin-top: 4px;
        font-size: 48px;
        font-weight: 700;
        color: #ffffff;
    }
    .home_3_category-explore-btn{
        border: none;
        background: transparent;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 8px;
        color: #625EFF;
        font-weight: 600;
    }
    .home_3_category-explore-btn i{
        font-size: 10px;
    }
    .home_3_category_card_group{
        margin-top: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home_3_category_card{
        background: linear-gradient(180deg, #1E1E37 0%, rgba(30, 30, 55, 0) 100%);
        border-radius: 8px;
        padding: 20px;
        position: relative;
        cursor: pointer;
    }
    .home_3_arrow_container svg{
        transition: 0.5s ease;
    }
    .home_3_category_card:hover .home_3_arrow_container svg{
        rotate: 90deg;
        transition: 0.5s ease;
    }
    .home_3_category_card:hover .home_3_arrow_container{
        background: linear-gradient(180deg, #655CFF 0%, #844BFF 100%);
    }
    .home_3_category_card_image{
        width: 152px;
        height: 222px;
        border-radius: 8px;
    }
    .home_3_arrow_container{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 60px;
        height: 60px;
        border-radius: 0 0 8px 0;
        background: #1E1E37;
        color: #ffffff;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* for max 1400 px to min 1201px */
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
    .home_3_category_container{
        max-width: 1000px;
        margin: 80px auto auto auto;
    }
    .home_3_category-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home_3_category-subtitle-container{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .home_3_category-subtitle-container small{
        font-size: 12px;
        color: #635EFF;
    }
    .category-vl{
        width: 12px;
        height: 1px;
        background: #635EFF;
    }
    .home_3_category-title{
        margin-top: 4px;
        font-size: 48px;
        font-weight: 700;
        color: #ffffff;
    }
    .home_3_category-explore-btn{
        border: none;
        background: transparent;
        font-size: 15px;
        display: flex;
        align-items: center;
        gap: 8px;
        color: #625EFF;
        font-weight: 600;
    }
    .home_3_category-explore-btn i{
        font-size: 9px;
    }
    .home_3_category_card_group{
        margin-top: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home_3_category_card{
        background: linear-gradient(180deg, #1E1E37 0%, rgba(30, 30, 55, 0) 100%);
        border-radius: 8px;
        padding: 18px;
        position: relative;
        cursor: pointer;
    }
    .home_3_arrow_container svg{
        transition: 0.5s ease;
    }
    .home_3_category_card:hover .home_3_arrow_container svg{
        rotate: 90deg;
        transition: 0.5s ease;
    }
    .home_3_category_card:hover .home_3_arrow_container{
        background: linear-gradient(180deg, #655CFF 0%, #844BFF 100%);
    }
    .home_3_category_card_image{
        width: 120px;
        height: 190px;
        border-radius: 8px;
    }
    .home_3_arrow_container{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50px;
        height: 50px;
        border-radius: 0 0 8px 0;
        background: #1E1E37;
        color: #ffffff;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* for big tab and laptops*/
@media only screen and (max-width: 1200px) and (min-width: 1025px) {
    .home_3_category_container{
        max-width: 900px;
        margin: 70px auto auto auto;
    }
    .home_3_category-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home_3_category-subtitle-container{
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .home_3_category-subtitle-container small{
        font-size: 11px;
        color: #635EFF;
    }
    .category-vl{
        width: 11px;
        height: 1px;
        background: #635EFF;
    }
    .home_3_category-title{
        margin-top: 4px;
        font-size: 35px;
        font-weight: 700;
        color: #ffffff;
    }
    .home_3_category-explore-btn{
        border: none;
        background: transparent;
        font-size: 15px;
        display: flex;
        align-items: center;
        gap: 8px;
        color: #625EFF;
        font-weight: 600;
    }
    .home_3_category-explore-btn i{
        font-size: 9px;
    }
    .home_3_category_card_group{
        margin-top: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home_3_category_card{
        background: linear-gradient(180deg, #1E1E37 0%, rgba(30, 30, 55, 0) 100%);
        border-radius: 6px;
        padding: 16px;
        position: relative;
        cursor: pointer;
    }
    .home_3_arrow_container svg{
        transition: 0.5s ease;
    }
    .home_3_category_card:hover .home_3_arrow_container svg{
        rotate: 90deg;
        transition: 0.5s ease;
    }
    .home_3_category_card:hover .home_3_arrow_container{
        background: linear-gradient(180deg, #655CFF 0%, #844BFF 100%);
    }
    .home_3_category_card_image{
        width: 100px;
        height: 170px;
        border-radius: 6px;
    }
    .home_3_arrow_container{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40px;
        height: 40px;
        border-radius: 0 0 6px 0;
        background: #1E1E37;
        color: #ffffff;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* for laptops and small screen */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .home_3_category_container{
        max-width: 695px;
        margin: 60px auto auto auto;
    }
    .home_3_category-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home_3_category-subtitle-container{
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .home_3_category-subtitle-container small{
        font-size: 10px;
        color: #635EFF;
    }
    .category-vl{
        width: 10px;
        height: 1px;
        background: #635EFF;
    }
    .home_3_category-title{
        margin-top: 4px;
        font-size: 30px;
        font-weight: 700;
        color: #ffffff;
    }
    .home_3_category-explore-btn{
        border: none;
        background: transparent;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 6px;
        color: #625EFF;
        font-weight: 600;
    }
    .home_3_category-explore-btn i{
        font-size: 8px;
    }
    .home_3_category_card_group{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home_3_category_card{
        background: linear-gradient(180deg, #1E1E37 0%, rgba(30, 30, 55, 0) 100%);
        border-radius: 6px;
        padding: 13px;
        position: relative;
        cursor: pointer;
    }
    .home_3_arrow_container svg{
        width: 13px;
        transition: 0.5s ease;
    }
    .home_3_category_card:hover .home_3_arrow_container svg{
        rotate: 90deg;
        transition: 0.5s ease;
    }
    .home_3_category_card:hover .home_3_arrow_container{
        background: linear-gradient(180deg, #655CFF 0%, #844BFF 100%);
    }
    .home_3_category_card_image{
        width: 105px;
        height: 170px;
        border-radius: 8px;
    }
    .home_3_arrow_container{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40px;
        height: 40px;
        border-radius: 0 0 8px 0;
        background: #1E1E37;
        color: #ffffff;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .one_hide_1024_769{
        display: none;
    }
}
/* for tab and laptops responsive */
@media only screen and (max-width: 768px) and (min-width: 541px) {
    .home_3_category_container{
        max-width: 520px;
        margin: 50px auto auto auto;
    }
    .home_3_category-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home_3_category-subtitle-container{
        display: flex;
        align-items: center;
        gap: 6px;
    }
    .home_3_category-subtitle-container small{
        font-size: 9px;
        color: #635EFF;
    }
    .category-vl{
        width: 9px;
        height: 1px;
        background: #635EFF;
    }
    .home_3_category-title{
        margin-top: 4px;
        font-size: 30px;
        font-weight: 700;
        color: #ffffff;
    }
    .home_3_category-explore-btn{
        border: none;
        background: transparent;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 6px;
        color: #625EFF;
        font-weight: 600;
    }
    .home_3_category-explore-btn i{
        font-size: 8px;
    }
    .home_3_category_card_group{
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home_3_category_card{
        background: linear-gradient(180deg, #1E1E37 0%, rgba(30, 30, 55, 0) 100%);
        border-radius: 6px;
        padding: 13px;
        position: relative;
        cursor: pointer;
    }
    .home_3_arrow_container svg{
        width: 13px;
        transition: 0.5s ease;
    }
    .home_3_category_card:hover .home_3_arrow_container svg{
        rotate: 90deg;
        transition: 0.5s ease;
    }
    .home_3_category_card:hover .home_3_arrow_container{
        background: linear-gradient(180deg, #655CFF 0%, #844BFF 100%);
    }
    .home_3_category_card_image{
        width: 90px;
        height: 150px;
        border-radius: 6px;
    }
    .home_3_arrow_container{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 35px;
        height: 35px;
        border-radius: 0 0 6px 0;
        background: #1E1E37;
        color: #ffffff;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .one_hide_1024_769{
        display: none;
    }
    .two_hide_768_541{
        display: none;
    }
}
/* microsoft surface duo series device */
@media only screen and (max-width: 540px) and (min-width: 481px) {
    .home_3_category_container{
        max-width: 100%;
        padding: 0 15px ;
        margin: 40px auto auto auto;
    }
    .home_3_category-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home_3_category-subtitle-container{
        display: flex;
        align-items: center;
        gap: 4px;
    }
    .home_3_category-subtitle-container small{
        font-size: 8px;
        color: #635EFF;
    }
    .category-vl{
        width: 8px;
        height: 1px;
        background: #635EFF;
    }
    .home_3_category-title{
        margin-top: 4px;
        font-size: 30px;
        font-weight: 700;
        color: #ffffff;
    }
    .home_3_category-explore-btn{
        border: none;
        background: transparent;
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 4px;
        color: #625EFF;
        font-weight: 600;
    }
    .home_3_category-explore-btn i{
        font-size: 7px;
    }
    .home_3_category_card_group{
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home_3_category_card{
        background: linear-gradient(180deg, #1E1E37 0%, rgba(30, 30, 55, 0) 100%);
        border-radius: 6px;
        padding: 12px;
        position: relative;
        cursor: pointer;
    }
    .home_3_arrow_container svg{
        transition: 0.5s ease;
        width: 13px;
    }
    .home_3_category_card:hover .home_3_arrow_container svg{
        rotate: 90deg;
        transition: 0.5s ease;
    }
    .home_3_category_card:hover .home_3_arrow_container{
        background: linear-gradient(180deg, #655CFF 0%, #844BFF 100%);
    }
    .home_3_category_card_image{
        width: 80px;
        height: 135px;
        border-radius: 6px;
    }
    .home_3_arrow_container{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 35px;
        height: 35px;
        border-radius: 0 0 6px 0;
        background: #1E1E37;
        color: #ffffff;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .one_hide_1024_769{
        display: none;
    }
    .two_hide_768_541{
        display: none;
    }
}
/* for sm device */
@media only screen and (max-width: 480px) and (min-width: 359px) {
    .home_3_category_container{
        max-width: 100%;
        padding: 0 15px ;
        margin: 40px auto auto auto;
    }
    .home_3_category-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home_3_category-subtitle-container{
        display: flex;
        align-items: center;
        gap: 4px;
    }
    .home_3_category-subtitle-container small{
        font-size: 8px;
        color: #635EFF;
    }
    .category-vl{
        width: 8px;
        height: 1px;
        background: #635EFF;
    }
    .home_3_category-title{
        margin-top: 4px;
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
    }
    .home_3_category-explore-btn{
        border: none;
        background: transparent;
        font-size: 10px;
        display: flex;
        align-items: center;
        gap: 4px;
        color: #625EFF;
        font-weight: 600;
    }
    .home_3_category-explore-btn i{
        font-size: 7px;
    }
    .home_3_category_card_group{
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home_3_category_card{
        background: linear-gradient(180deg, #1E1E37 0%, rgba(30, 30, 55, 0) 100%);
        border-radius: 6px;
        padding: 10px;
        position: relative;
        cursor: pointer;
    }
    .home_3_arrow_container svg{
        transition: 0.5s ease;
        width: 11px;
    }
    .home_3_category_card:hover .home_3_arrow_container svg{
        rotate: 90deg;
        transition: 0.5s ease;
    }
    .home_3_category_card:hover .home_3_arrow_container{
        background: linear-gradient(180deg, #655CFF 0%, #844BFF 100%);
    }
    .home_3_category_card_image{
        width: 82px;
        height: 125px;
        border-radius: 6px;
    }
    .home_3_arrow_container{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30px;
        height: 30px;
        border-radius: 0 0 6px 0;
        background: #1E1E37;
        color: #ffffff;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .one_hide_1024_769{
        display: none;
    }
    .two_hide_768_541{
        display: none;
    }
    .three_hide_480_359{
        display: none;
    }
}
/* for xs device */
@media only screen and (max-width: 358px) {
    .home_3_category_container{
        max-width: 100%;
        padding: 0 10px ;
        margin: 30px auto auto auto;
    }
    .home_3_category-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home_3_category-subtitle-container{
        display: flex;
        align-items: center;
        gap: 3px;
    }
    .home_3_category-subtitle-container small{
        font-size: 8px;
        color: #635EFF;
    }
    .category-vl{
        width: 8px;
        height: 1px;
        background: #635EFF;
    }
    .home_3_category-title{
        margin-top: 4px;
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
    }
    .home_3_category-explore-btn{
        border: none;
        background: transparent;
        font-size: 9px;
        display: flex;
        align-items: center;
        gap: 3px;
        color: #625EFF;
        font-weight: 600;
    }
    .home_3_category-explore-btn i{
        font-size: 6px;
    }
    .home_3_category_card_group{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home_3_category_card{
        background: linear-gradient(180deg, #1E1E37 0%, rgba(30, 30, 55, 0) 100%);
        border-radius: 6px;
        padding: 10px;
        position: relative;
        cursor: pointer;
    }
    .home_3_arrow_container svg{
        transition: 0.5s ease;
        width: 10px;
    }
    .home_3_category_card:hover .home_3_arrow_container svg{
        rotate: 90deg;
        transition: 0.5s ease;
    }
    .home_3_category_card:hover .home_3_arrow_container{
        background: linear-gradient(180deg, #655CFF 0%, #844BFF 100%);
    }
    .home_3_category_card_image{
        width: 62px;
        height: 100px;
        border-radius: 6px;
    }
    .home_3_arrow_container{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 25px;
        height: 25px;
        border-radius: 0 0 6px 0;
        background: #1E1E37;
        color: #ffffff;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .one_hide_1024_769{
        display: none;
    }
    .two_hide_768_541{
        display: none;
    }
    .three_hide_480_359{
        display: none;
    }
}
/* category style end here */
